httpx==0.23.0
astroid==3.0.1
esprima==4.0.1
tqdm==4.66.1
regex==2023.10.3
colorlog==6.7.0
pyfiglet==1.0.2
jsonschema==4.20.0
rich==13.7.0
Flask==2.3.3 
Werkzeug==2.3.7
openai==1.35.7 
pathlib==1.0.1 
requests==2.31.0 
gunicorn==21.2.0
